body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Disable scrolling for the entire page */
}

/* Define a CSS variable for padding */
:root {
    --square-padding: 10px; /* Changeable padding value */
}

/* Add classes for different text colors */
.grey-text {
    color: grey;
}



.container1 {
    width: 100%;
    display: grid;
    grid-template-columns: 75.1% 25%;
    grid-template-rows: repeat(1, 33.33vh);
    gap: 1px; /* Set the gap between columns and rows */
    /*justify-content: center; /* Center the grid horizontally */
    /*align-items: center; /* Center the grid vertically */
    height: 33.33vh; /* Make the container take up the full height of the viewport */
}

.container2 {
    width: 100%;
    display: grid;
    /*grid-template-columns: 100px 100px 100px 100px;*/
     grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(1, 66.66vh);
    gap: 1px; /* Set the gap between columns and rows */
    height: 33.33vh;
}

.container3 {
    width: 100%;
    display: grid;
    /*grid-template-columns: 100px 100px 100px 100px;*/
     grid-template-columns: 25% 25% 50%;
    grid-template-rows: repeat(1, 33.33vh);
    gap: 1px; /* Set the gap between columns and rows */
    height: 33.33vh;
}



.square {
    background-color: #fff;
    border: 1px solid #1c1c1c;
    display: flex;
    flex-direction: column; /* Align text in a column */
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 22px;
    cursor: pointer;
    text-align: left;
    padding: 20px; /* Use the CSS variable for padding */
    line-height: 30px; /* Adjust line-height as needed */
    color: #1c1c1c; /* Darker gray text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */

    
}

.square .white-text {
    font-size: 18px;
    color: #fff;
}

.square:hover {
    background-color: #1c1c1c;
    color: #fff;
}

.square:hover .white-text {
    color: #fff;
}



.square a {
    color: #007bff;
    display: block;
    color: inherit;
    text-decoration: none; /* Remove underline */

}

/* Set specific styles for the first square in the first row */
.square.big {
    width: calc(100% - var(--square-padding) * 2 - 1px); /* Adjust width to account for the border and padding */
    height: 33.33vh; /* Adjust height to account for the border and padding */
    border-left: none;
    user-drag: none;
    user-select: none;
    
}

.square.mid {
    width: 100%; /* Adjust width to account for the border and padding */
    height: 33.33vh; /* Adjust height to account for the border and padding */
    user-drag: none;
    user-select: none;

    text-decoration: none; /* Remove underline for the specific square */
    
}

/* Set specific styles for the second square in the first row */
.square.small.noL {
    width: 91.3%; /* Adjust width to account for the border and padding */
    height: 66.66vh; /* Adjust height to account for the border and padding */
    border-left: none; /* Remove the left border for the second square */
    user-drag: none;
    user-select: none;

    text-decoration: none; /* Remove underline for the specific square */

}

.square.small.noR {
    width: 91.3%; /* Adjust width to account for the border and padding */
    height: 66.66vh; /* Adjust height to account for the border and padding */
    border-right: none; /* Remove the left border for the second square */
    user-drag: none;
    user-select: none;

    text-decoration: none; /* Remove underline for the specific square */

}

.square.small.noLR {
    width: 91.3%; /* Adjust width to account for the border and padding */
    height: 66.66vh; /* Adjust height to account for the border and padding */
    border-left: none; /* Remove the left border for the second square */
    border-right: none;
    user-drag: none;
    user-select: none;

    text-decoration: none; /* Remove underline for the specific square */

}

.square.small {
    width: 91%; /* Adjust width to account for the border and padding */
    height: 66.66vh; /* Adjust height to account for the border and padding */
    border-right: none;
    user-drag: none;
    user-select: none;

    text-decoration: none; /* Remove underline for the specific square */

}

.no-click {
    cursor: not-allowed;
    pointer-events: none;
}

.content {
    margin-top: 20px;
    padding: 20px;
    background-color: #eee;
    border: 2px solid #000;
   /* display: none;*/
}





