body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 0px;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 40px auto 0; /* Center the content horizontally */
}

h1, p {
    color: #1c1c1c;
    font-size: 16px; /* Adjust the font size for headings */
    line-height: 1.5; /* Adjust the line height for better readability */
}


p {
    letter-spacing: 0.5px; /* Adjust the letter spacing for paragraphs */
}

.return-button {
    display: inline-block;
    position: absolute;
    top: 40px; /* Adjust the top position */
    left: 40px; /* Adjust the left position */
    padding: 0px;
    color: #fff;
    text-decoration: none;
    border-radius: 0px;
    transition: background-color 0.3s;
    font-size: 16px; /* Adjust the font size for the return button */
}

.arrow {
    display: inline-block;
    margin-right: 10px;
    color: #1c1c1c;
    font-size: 24px; /* Adjust the font size for the arrow */
}

.return-button:hover {
    color: #1c1c1c;
}


/* 1 image */

.image-container1 {
    margin-top: 0px;
}

.content-image1 {
    text-align: center;
    max-width: 100%; /* Set the image to 100% of the parent container */
    height: auto;
}


/* more images */
.image-container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Adjust the margin as needed */
}

.content-image2 {
    max-width: 50%; /* Calculate the width for each image with a 10px gap */
    height: 100%;
    width: auto;
}

.content-image3 {
    max-width: 33.33%; /* Calculate the width for each image with a 10px gap */
    height: 100%;
    width: auto;
}

.content-image4 {
    max-width: 100%; /* Calculate the width for each image with a 10px gap */
    height: 50%;
    width: 1300px;
}

.top-bar {
    background-color: #fff; /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 100px; /* Set padding for content inside the bottom bar */
    text-align: center; /* Center the text horizontally */
}

.bottom-bar {
    background-color: #fff; /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 100px; /* Set padding for content inside the bottom bar */
    text-align: center; /* Center the text horizontally */
}

.code {
    display: flex;
    height: auto;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0; /* Ensure no margin */
    font-family: 'SF Mono', monospace; /* Use correct property for font-family */
    border: 1px solid #ddd;
    text-align: left; /* Align text to the left */
    padding-left: 10px; /* Adjust the left padding as needed */
}


